@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Rammetto+One&display=swap");
:root {
  --m: "#000000";
}
* {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
#name {
  color: red;
}
.homepage {
  background-coloR: #14142d;
  background: rgb(33,33,95);
background: radial-gradient(circle, rgba(33,33,95,1) 0%, rgba(20,20,24,1) 100%);
  min-height: 100vh;
}
@keyframes rotate {
  0% {
      transform: rotate(0deg)scale(0.3);
  }

  to {
      transform: rotate(1turn)scale(1.5);
  }
}
.spinning {
  position: fixed;
  width: 50%;
  max-width: 20em;
  height: 50%;
  max-height: 18em;
  background: linear-gradient(rgba(249, 71, 128, 0.85),#330aea);
  /* background-color: #14142d; */
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;

  top: 30%;  /* position the top  edge of the element at the middle of the parent */
  left: 39%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);                           
  filter:blur(80px); 
 
  animation: rotate 3s alternate infinite;
 
}
.nameDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}
.nameDiv, .lastDiv {
  height: min(10em,calc(-0.5rem + 40vw));
}
.nameDiv img, .lastDiv img {
  object-fit: contain;
  height: 100%;
}
.overlay {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20vh;
}
#canvas-container {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100vh;
  width: 100%;
}
.navigation {
  /* position: absolute; 
  bottom: 2em; */
  position: relative;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  padding-top: 85vh;
  padding-bottom: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 1em;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.navbar > a {
  border: 1px solid white;
  border-radius: 1em;
  padding: 0.5em 2em;
  transition: 0.5s;
}
.navbar > a:hover {
  transform: scale(1.1);
}



/*from my portfolio originally*/

/*ABOUT*/
.about {
  min-height: 100vh;
  position: relative; 
  z-index: 3;
  width: 100%;
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.about .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5em;
  column-gap: 0.5em;
  flex-direction: column;
  width: 100%;
}
.about .grid img {
  object-fit: cover;
  height: 100%;
}

.card.img {
  padding: 0;
  border: 0;
  overflow: hidden;
  border-radius: 1em;
}
.about  h1 {
     font-size: 2em; 
     text-align: center;
     margin-bottom: 1em;
  font-weight: bold;
    background: linear-gradient(to right, #a4aee1 0%, #ceb8dd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about > h1 {
  font-size: 5em;
  margin-bottom: 0.2em;

  background: linear-gradient(to right, #a4aee1 0%, #ceb8dd 100%);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grid > div {
  padding: 0.5em;
  
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 0.5em;
  column-gap: 0.5em;
}
.homepage .navbar {
  padding-top: 1em;
}
.card {
  height: 25em;
  width: 100%;
  max-width: 20em;
  background-color: rgba(30, 25, 66, 0.249);
   border-radius: 1em;
  color: white;
  border: 7px solid transparent;
  box-sizing: border-box;
  padding: 2em;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
.card * {
  color: rgb(222, 229, 248);
}
@media (max-width: 300px) {
  .card {
    font-size: 0.8em;
    padding: 0.5em;
    height: 20em;
  }
  .grid {
    box-sizing: border-box;
  }
  .about  h1 {
    font-size: 1.2em; 
    margin-bottom: 1em;
 font-weight: bold;
   background: linear-gradient(to right, #a4aee1 0%, #ceb8dd 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
}
/* @media (max-width: 500px) {
  .navigation {
    position: relative;
    bottom: -50em;
  }
} */

/*projects*/
.project {
  background-color: rgba(30, 25, 66, 0.249);
  border-radius: 1em;
 color: white;
 border: 7px solid transparent;
 box-sizing: border-box;
 padding: 2em;
 box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  display: flex;
  gap: 1em;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectList {
  margin-top: 1em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 1em;
}


.link {
  border: 1px solid white;
  border-radius: 1em;
  padding: 0.5em 2em;
  transition: 0.5s;
  color: white;
}
.link:hover {
  transform: scale(1.1);
}